

.calculator{
    width:255px;
    margin:0 auto;
    background: #a5a5a5;
    padding: 6px;
}


.calculator input{
    width: 100%;
    padding: 4px;
    margin: 4px 0;
    text-align: right;
}

.num-operator{
    width:160px;
    display:flex;
    margin-top: 4px;;
}

.num-btn {
    display:grid;
    grid-template-columns: repeat(3, 58px);
    justify-content: space-around;
    flex-wrap: wrap;
    gap:4px;
    font-size: 13px;
    
}
.sign-btn{
display:grid;
    grid-template-columns: repeat(1, 58px);
    justify-content: space-around;
    flex-wrap: wrap;
    gap:4px;
    margin-left: 4px;
    font-size: 13px;
}

.equal-btn{
    grid-column: 2 / 4;
    border:1px solid red;
}


.btn-style {
    border:1px solid #888;
    border-radius: 4px;
}