.my_cart{
background: var(--clr-white);
  max-width: 480px;
     margin: 16px auto;
     padding:16px;
     border-radius: var(--radius);
}

.my_cart .item_list{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.my_cart .item_list .title{
color:var(--blue1);
width:360px;
font-size: 1rem;
}