body {
  background-color: var(--clr-grey-8);
}
.loading {
  background-color: var(--clr-white);
  padding: 0.5rem 1rem;
  color: var(--clr-grey-9);
  font-family: var(--ff-secondary);
  border-radius: var(--radius);
}
.price-info {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: var(--clr-red-dark);
  color: var(--clr-white);
}
.read-more {
  color: var(--clr-red-dark);
  cursor: pointer;
  font-size: 0.8rem;
}
